@impor@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:wght@700&family=Piazzolla:wght@600&display=swap');t url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Piazzolla:wght@600&display=swap');

body {
  background: grey;
  font-family: Barlow, sans-serif;
  color: #575f7d;
  font-size: 15px;
  line-height: 1.5;
}

h1 {
  color: #8d92b2;
  font-family: Merriweather, serif;
  font-size: 30px;
  line-height: 10px;
}

h2 {
  color: #2b3684;
  font-family: Merriweather, serif;
  font-size: 20px;
  line-height: 8px;
}

a {
  color: #737ac4;
  text-decoration: none;
}

a:hover {
  color: rgba(240, 240, 240, 0.5);
}

button {
  background: #2b3684;
  padding: 7px 20px;
  border-radius: 4px;
  border: none;
  display: inline-block;
}

button a {
  color: white;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.card {
  width: 500px;
  padding: 40px;
  margin: 20px auto;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
  border-radius: 4px;
  text-align: center;
}

#img-circle {
  height: 140px;
  width: 100px;
  border-radius: 50%;
}

#list-inline {
  list-style: none;
  padding: 0;
}

#list-inline li {
  display: inline-block;
  padding 20px;

}
